@model Application.ViewModel.AdminSide.AdminHomeViewModel;

<form asp-area="Admin" asp-controller="Home" asp-action="AboutUs" method="post">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="review-tab-pro-inner">


                <div id="myTabContent" class="tab-content custom-product-edit">
                    <div class="product-tab-list tab-pane fade active in" id="description">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="review-content-section">

                                    <div class="input-group mg-b-pro-edt">
                                        <span class="input-group-addon">Title</span>
                                        <input type="text" class="form-control" asp-for="@Model.aboutUs.Title" placeholder=" Title">
                                    </div>
                                    <div class="input-group mg-b-pro-edt">
                                        <span class="input-group-addon">Description</span>
                                        <input type="text" class="form-control" asp-for="@Model.aboutUs.Description" placeholder="Description">
                                    </div>
                                    <div class="input-group mg-b-pro-edt">
                                        <span class="input-group-addon">Author</i></span>
                                        <input type="text" class="form-control" asp-for="@Model.aboutUs.Author" placeholder="Author">
                                    </div>
                                    <div class="input-group mg-b-pro-edt">
                                        <span class="input-group-addon">Author Url</span>
                                        <input type="text" class="form-control" asp-for="@Model.aboutUs.AuthorUrl" placeholder="Author Url">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="text-center custom-pro-edt-ds">
                                    <button type="submit" class="btn btn-ctl-bt waves-effect waves-light m-r-10">
                                        Edit
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </form>
