:root {
    --color-one: #52117d;
    --color-two: #a944ec;
    --color-three: #ffc800;
    --color-accent: #D65B88;
    --color-text: #fffed7;
    --color-bg: #181729;
    /* Typography */
    --font-family: "Inter", sans-serif;
    --font-family-headings: "Inter", sans-serif;
}




.lns-checkbox {
    display: inline-flex;
    color: var(--color-text);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    align-items: center;
    line-height: 1;
    border-radius: 5px;
   
    padding: 5px 7px 5px 7px;
    user-select: none;

    @media (min-width: 992px) {
        font-size: 1.25rem;
    }

    span {
        position: relative;
        display: flex;
        align-items: center;
    }

    input[type="checkbox"] {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0;
        border: 0;
        height: 1px;
        width: 1px;
        overflow: hidden;

        &:checked + span::after {
            background-color: var(--color-accent);
        }

        &:checked + span {
            color: var(--color-accent);
        }

        &:focus + span::before {
            border-color: var(--color-accent);
        }

        &:disabled {
            opacity: .85;

            & + span {
                color: #9a9a88;
            }
        }
    }

    span::before {
        content: "";
        display: inline-block;
        border-radius: 3px;
        background-color: #414051;
        margin-right: 8px;
        height: 16px;
        width: 16px;
        border: 1px solid transparent;
    }

    input[type="checkbox"] {
    }

    span::after {
        content: "";
        display: inline-block;
        height: 12px;
        width: 12px;
        border-radius: 3px;
        background-color: transparent;
        left: 3px;
        position: absolute;
    }
}
