<!DOCTYPE html>
<html>

<head>
	<title>Game Shop SignUp</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Gaming Login Form Widget Tab Form,Login Forms,Sign up Forms,Registration Forms,News letter Forms,Elements" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href="/Login/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/Login/css/StyleSheet.css" rel="stylesheet" type="text/css" media="all" />
</head>



<body>

	@RenderBody()
</body>
</html>