<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>GoodGames</title>

    <meta name="description" content="GoodGames - Bootstrap template for communities and games store">
    <meta name="keywords" content="game, gaming, template, HTML template, responsive, Bootstrap, premium">
    <meta name="author" content="_WWW.MELLATWEB.COM">

    <link rel="icon" type="image/png" href="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- START: Styles -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7cOpen+Sans:400,700" rel="stylesheet" type="text/css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/dist/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script defer src="~/assets/vendor/fontawesome-free/js/all.js"></script>
    <script defer src="~/assets/vendor/fontawesome-free/js/v4-shims.js"></script>

    <!-- IonIcons -->
    <link rel="stylesheet" href="~/assets/vendor/ionicons/css/ionicons.min.css">

    <!-- Flickity -->
    <link rel="stylesheet" href="~/assets/vendor/flickity/dist/flickity.min.css">

    <!-- Photoswipe -->
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/photoswipe/dist/photoswipe.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/photoswipe/dist/default-skin/default-skin.css">

    <!-- Seiyria Bootstrap Slider -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-slider/dist/css/bootstrap-slider.min.css">

    <!-- Summernote -->
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/summernote/dist/summernote-bs4.css">

    <!-- GoodGames -->
    <link rel="stylesheet" href="~/assets/css/goodgames.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="~/assets/css/custom.css">
    <!--image slider -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Slider/style.css">

    <!-- END: Styles -->
    <!-- jQuery -->
    <script src="~/assets/vendor/jquery/dist/jquery.min.js"></script>

</head>



<body>





    <!--
        Additional Classes:
            .nk-header-opaque
    -->
    <header class="nk-header nk-header-opaque">



        <!-- START: Top Contacts -->
        <div class="nk-contacts-top">
            <div class="container">
                <div class="nk-contacts-left">
                    <ul class="nk-social-links">
                        <li><a class="nk-social-rss" href="#"><span class="fa fa-rss"></span></a></li>
                        <li><a class="nk-social-twitch" href="#"><span class="fab fa-twitch"></span></a></li>
                        <li><a class="nk-social-steam" href="#"><span class="fab fa-steam"></span></a></li>
                        <li><a class="nk-social-twitter" href="https://twitter.com/nkdevv" target="_blank"><span class="fab fa-twitter"></span></a></li>
                        <li><a class="nk-social-instagram" href="#"><span class="fab fa-instagram"></span></a></li>
                        <li><a class="nk-social-youtube" href="#"><span class="fab fa-youtube"></span></a></li>
                        <li><a class="nk-social-reddit" href="#"><span class="fab fa-reddit"></span></a></li>

                        <!-- Additional Social Buttons
                            <li><a class="nk-social-behance" href="#"><span class="fab fa-behance"></span></a></li>
                            <li><a class="nk-social-bitbucket" href="#"><span class="fab fa-bitbucket"></span></a></li>
                            <li><a class="nk-social-dropbox" href="#"><span class="fab fa-dropbox"></span></a></li>
                            <li><a class="nk-social-dribbble" href="#"><span class="fab fa-dribbble"></span></a></li>
                            <li><a class="nk-social-deviantart" href="#"><span class="fab fa-deviantart"></span></a></li>
                            <li><a class="nk-social-flickr" href="#"><span class="fab fa-flickr"></span></a></li>
                            <li><a class="nk-social-foursquare" href="#"><span class="fab fa-foursquare"></span></a></li>
                            <li><a class="nk-social-github" href="#"><span class="fab fa-github"></span></a></li>
                            <li><a class="nk-social-instagram" href="#"><span class="fab fa-instagram"></span></a></li>
                            <li><a class="nk-social-linkedin" href="#"><span class="fab fa-linkedin"></span></a></li>
                            <li><a class="nk-social-medium" href="#"><span class="fab fa-medium"></span></a></li>
                            <li><a class="nk-social-odnoklassniki" href="#"><span class="fab fa-odnoklassniki"></span></a></li>
                            <li><a class="nk-social-paypal" href="#"><span class="fab fa-paypal"></span></a></li>
                            <li><a class="nk-social-reddit" href="#"><span class="fab fa-reddit"></span></a></li>
                            <li><a class="nk-social-skype" href="#"><span class="fab fa-skype"></span></a></li>
                            <li><a class="nk-social-soundcloud" href="#"><span class="fab fa-soundcloud"></span></a></li>
                            <li><a class="nk-social-slack" href="#"><span class="fab fa-slack"></span></a></li>
                            <li><a class="nk-social-tumblr" href="#"><span class="fab fa-tumblr"></span></a></li>
                            <li><a class="nk-social-vimeo" href="#"><span class="fab fa-vimeo"></span></a></li>
                            <li><a class="nk-social-vk" href="#"><span class="fab fa-vk"></span></a></li>
                            <li><a class="nk-social-wordpress" href="#"><span class="fab fa-wordpress"></span></a></li>
                            <li><a class="nk-social-youtube" href="#"><span class="fab fa-youtube"></span></a></li>
                        -->

                    </ul>
                </div>
                <div class="nk-contacts-right">
                    <ul class="nk-contacts-icons">
                    </ul>
                </div>
            </div>
        </div>
        <!-- END: Top Contacts -->
        <!--
            START: Navbar

            Additional Classes:
                .nk-navbar-sticky
                .nk-navbar-transparent
                .nk-navbar-autohide
        -->
        <nav class="nk-navbar nk-navbar-top nk-navbar-sticky nk-navbar-autohide">
            <div class="container">
                <div class="nk-nav-table">

                    <a asp-controller="Home" asp-action="Index" class="nk-nav-logo">
                        <img src="~/assets/images/logo.png" alt="GoodGames" width="199">
                    </a>

                    <ul class="nk-nav nk-nav-right d-none d-lg-table-cell" data-nav-mobile="#nk-nav-mobile">

                        <li >
                            <a asp-controller="Home" asp-action="Index">Home </a>
                        </li>
                        <li class=" nk-drop-item">
                            <a>
                                Store

                            </a>
                            <ul class="dropdown">

                                <li>
                                    <a asp-controller="Store" asp-action="Index">
                                        Store

                                    </a>
                                </li>

                                <li>
                                    <a asp-controller="Store" asp-action="Catalog">
                                        Catalog

                                    </a>
                                </li>

                            </ul>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class=" nk-drop-item">
                                <a>
                                    Account

                                </a>
                                <ul class="dropdown">

                                    <li>
                                        <a asp-controller="Account" asp-action="MyAccount">
                                            My Account

                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Order" asp-action="MyCart">
                                            My Cart

                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Account" asp-action="LogOut" type="button" onclick="return confirm('are you sure you want log out ?')">
                                            log Out



                                        </a>
                                    </li>

                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class=" nk-drop-item">
                                <a>
                                    Account

                                </a>
                                <ul class="dropdown">

                                    <li>
                                        <a asp-controller="Account" asp-action="SignUp">
                                            Sign Up

                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Account" asp-action="SignIn">
                                            Sign In

                                        </a>
                                    </li>

                                </ul>
                            </li>
                        }

                        <li>
                            <a asp-controller="Home" asp-action="AboutUs">
                                About Us
                            </a>
                        </li>
                     
                    </ul>
                    <ul class="nk-nav nk-nav-right nk-nav-icons">

                        <li class="single-icon d-lg-none">
                            <a href="#" class="no-link-effect" data-nav-toggle="#nk-nav-mobile">
                                <span class="nk-icon-burger">
                                    <span class="nk-t-1"></span>
                                    <span class="nk-t-2"></span>
                                    <span class="nk-t-3"></span>
                                </span>
                            </a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
        <!-- END: Navbar -->

    </header>



    <!--
        START: Navbar Mobile

        Additional Classes:
            .nk-navbar-left-side
            .nk-navbar-right-side
            .nk-navbar-lg
            .nk-navbar-overlay-content
    -->
    <div id="nk-nav-mobile" class="nk-navbar nk-navbar-side nk-navbar-right-side nk-navbar-overlay-content d-lg-none">
        <div class="nano">
            <div class="nano-content">
                <a asp-controller="Home" asp-action="Index" class="nk-nav-logo">
                    <img src="~/assets/images/logo.png" alt="" width="120">
                </a>
                <div class="nk-navbar-mobile-content">
                    <ul class="nk-nav">
                        <!-- Here will be inserted menu from [data-mobile-menu="#nk-nav-mobile"] -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Navbar Mobile -->
    @RenderBody()



    <!-- START: Footer -->
    <footer class="nk-footer">

        <div class="container">
            <div class="nk-gap-3"></div>
            <div class="row vertical-gap">

                <p>Footer (not finished)</p>
            </div>
            <div class="nk-gap-3"></div>
        </div>

        <div class="nk-copyright">
            <div class="container">
                <div class="nk-copyright-left">
                    Copyright &copy; 2024 <a href="#" target="_blank">GameShop</a>
                </div>
                <div class="nk-copyright-right">
                    <ul class="nk-social-links-2">
                        <li><a class="nk-social-rss" href="#"><span class="fa fa-rss"></span></a></li>
                        <li><a class="nk-social-twitch" href="#"><span class="fab fa-twitch"></span></a></li>
                        <li><a class="nk-social-steam" href="#"><span class="fab fa-steam"></span></a></li>
                        <li><a class="nk-social-twitter" href="https://twitter.com/nkdevv" target="_blank"><span class="fab fa-twitter"></span></a></li>
                        <li><a class="nk-social-instagram" href="#"><span class="fab fa-instagram"></span></a></li>
                        <li><a class="nk-social-youtube" href="#"><span class="fab fa-youtube"></span></a></li>
                        <li><a class="nk-social-reddit" href="#"><span class="fab fa-reddit"></span></a></li>

                        <!-- Additional Social Buttons
                            <li><a class="nk-social-behance" href="#"><span class="fab fa-behance"></span></a></li>
                            <li><a class="nk-social-bitbucket" href="#"><span class="fab fa-bitbucket"></span></a></li>
                            <li><a class="nk-social-dropbox" href="#"><span class="fab fa-dropbox"></span></a></li>
                            <li><a class="nk-social-dribbble" href="#"><span class="fab fa-dribbble"></span></a></li>
                            <li><a class="nk-social-deviantart" href="#"><span class="fab fa-deviantart"></span></a></li>
                            <li><a class="nk-social-flickr" href="#"><span class="fab fa-flickr"></span></a></li>
                            <li><a class="nk-social-foursquare" href="#"><span class="fab fa-foursquare"></span></a></li>
                            <li><a class="nk-social-github" href="#"><span class="fab fa-github"></span></a></li>
                            <li><a class="nk-social-instagram" href="#"><span class="fab fa-instagram"></span></a></li>
                            <li><a class="nk-social-linkedin" href="#"><span class="fab fa-linkedin"></span></a></li>
                            <li><a class="nk-social-medium" href="#"><span class="fab fa-medium"></span></a></li>
                            <li><a class="nk-social-odnoklassniki" href="#"><span class="fab fa-odnoklassniki"></span></a></li>
                            <li><a class="nk-social-paypal" href="#"><span class="fab fa-paypal"></span></a></li>
                            <li><a class="nk-social-reddit" href="#"><span class="fab fa-reddit"></span></a></li>
                            <li><a class="nk-social-skype" href="#"><span class="fab fa-skype"></span></a></li>
                            <li><a class="nk-social-soundcloud" href="#"><span class="fab fa-soundcloud"></span></a></li>
                            <li><a class="nk-social-slack" href="#"><span class="fab fa-slack"></span></a></li>
                            <li><a class="nk-social-tumblr" href="#"><span class="fab fa-tumblr"></span></a></li>
                            <li><a class="nk-social-vimeo" href="#"><span class="fab fa-vimeo"></span></a></li>
                            <li><a class="nk-social-vk" href="#"><span class="fab fa-vk"></span></a></li>
                            <li><a class="nk-social-wordpress" href="#"><span class="fab fa-wordpress"></span></a></li>
                            <li><a class="nk-social-youtube" href="#"><span class="fab fa-youtube"></span></a></li>
                        -->
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- END: Footer -->
    <!-- START: Page Background -->

    <img class="nk-page-background-top" src="~/assets/images/bg-top.png" alt="">
    <img class="nk-page-background-bottom" src="~/assets/images/bg-bottom.png" alt="">

    <!-- END: Page Background -->
    <!-- START: Search Modal -->
    <div class="nk-modal modal fade" id="modalSearch" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="ion-android-close"></span>
                    </button>

                    <h4 class="mb-0">Search</h4>

                    <div class="nk-gap-1"></div>
                    <form action="#" class="nk-form nk-form-style-1">
                        <input type="text" value="" name="search" class="form-control" placeholder="Type something and press Enter" autofocus>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Search Modal -->
    <!-- START: Login Modal -->
    <!-- END: Login Modal -->
    <!-- START: Scripts -->
    <!-- Object Fit Polyfill -->
    <script src="~/assets/vendor/object-fit-images/dist/ofi.min.js"></script>

    <!-- GSAP -->
    <script src="~/assets/vendor/gsap/src/minified/TweenMax.min.js"></script>
    <script src="~/assets/vendor/gsap/src/minified/plugins/ScrollToPlugin.min.js"></script>

    <!-- Popper -->
    <script src="~/assets/vendor/popper.js/dist/umd/popper.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Sticky Kit -->
    <script src="~/assets/vendor/sticky-kit/dist/sticky-kit.min.js"></script>

    <!-- Jarallax -->
    <script src="~/assets/vendor/jarallax/dist/jarallax.min.js"></script>
    <script src="~/assets/vendor/jarallax/dist/jarallax-video.min.js"></script>

    <!-- imagesLoaded -->
    <script src="~/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>

    <!-- Flickity -->
    <script src="~/assets/vendor/flickity/dist/flickity.pkgd.min.js"></script>

    <!-- Photoswipe -->
    <script src="~/assets/vendor/photoswipe/dist/photoswipe.min.js"></script>
    <script src="~/assets/vendor/photoswipe/dist/photoswipe-ui-default.min.js"></script>

    <!-- Jquery Validation -->
    <script src="~/assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>

    <!-- Jquery Countdown + Moment -->
    <script src="~/assets/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
    <script src="~/assets/vendor/moment/min/moment.min.js"></script>
    <script src="~/assets/vendor/moment-timezone/builds/moment-timezone-with-data.min.js"></script>

    <!-- Hammer.js -->
    <script src="~/assets/vendor/hammerjs/hammer.min.js"></script>

    <!-- NanoSroller -->
    <script src="~/assets/vendor/nanoscroller/bin/javascripts/jquery.nanoscroller.js"></script>

    <!-- SoundManager2 -->
    <script src="~/assets/vendor/soundmanager2/script/soundmanager2-nodebug-jsmin.js"></script>

    <!-- Seiyria Bootstrap Slider -->
    <script src="~/assets/vendor/bootstrap-slider/dist/bootstrap-slider.min.js"></script>

    <!-- Summernote -->
    <script src="~/assets/vendor/summernote/dist/summernote-bs4.min.js"></script>

    <!-- WWW.MELLATWEB.COM Share -->
    <script src="~/assets/plugins/nk-share/nk-share.js"></script>

    <!-- GoodGames -->
    <script src="~/assets/js/goodgames.min.js"></script>
    <script src="~/assets/js/goodgames-init.js"></script>
 
    <!-- END: Scripts -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>
    <script defer src="~/Slider/main.js"></script>


</body>
</html>
